<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serviceexchange.www.serviceexchangeandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Eslam start -->

        <activity
            android:name=".navigationdrawer.NavigationDrawerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".guestnavigationdrawer.GuestNavigationDrawerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".splashactivity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".inbox.inboxdetail.InboxDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".demoinstruction.DemoInstructionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".myrequests.addrquests.AddRequestsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".myrequests.allrequestonservice.AllRequestOnServiceActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Eslam end -->


        <!-- Omar start -->

        <activity android:name=".loginmodule.LoginActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".homeforguestfragment.servicespercategoryactivity.ServicesForCategoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".homeforguestfragment.subcategoriesactivity.SubCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".homeforguestfragment.viewallcategoriesavtivity.ViewAllCategoriesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".manageservicesfragment.activetransactiondetailactivity.ActiveTransactionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".requestsfragment.offerdetailfragment.OfferDetailActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".firebasenotifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebasenotifications.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".manageservicesfragment.pendingtransactionsdetailactivity.PendingTransactionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Omar end -->


        <!-- Nehal start -->
        <activity android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"></activity>
        <!-- Nehal end -->

    </application>

</manifest>